## Web Scraping LinkedIn using Selenium

In [69]:
from selenium import webdriver
import time
import pandas as pd
import time

In [70]:
#Url from LinkedIn 
url = "https://id.linkedin.com/jobs/search?keywords=Data%20Analyst&location=Area%20DKI%20Jakarta&geoId=90010101&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

In [71]:
# url = "https://id.linkedin.com/jobs/data-analyst-jobs?position=1&pageNum=0"

In [72]:
import requests
from bs4 import BeautifulSoup

In [73]:
#Import Packages

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC

In [74]:
from selenium.webdriver.common.by import By

In [75]:
from lxml import html

In [76]:
#Run the driver and open the url
driver = webdriver.Chrome()
driver.get(url)
time.sleep(5)

In [77]:
# Find the element that contains the class name
results_header = driver.find_element(By.CLASS_NAME, "results-context-header")

# Find the element with the specific class name within the results header
n = results_header.find_element(By.CLASS_NAME, "results-context-header__job-count").text

In [78]:
# Convert the string to an integer
n = int(n.replace(".",""))

In [79]:
n

1000

In [80]:
#Scroll through page to load all the job postings
i = 2
# while i <= n/25:
while i <= 5:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
    i += 1
    
    #click on load more button to load all the job postings
    try:
        load_more_button = driver.find_element(By.XPATH, '//button[@aria-label="Lihat pekerjaan lainnya"]')
        load_more_button.click()
        time.sleep(3)
    except:
        pass
        time.sleep(3)

In [81]:
77000000/10

7700000.0

In [87]:
jobpost_id = []
job_title = []
company_name = []
location = []
posted_date = []

job_description = []
def transform():
    global n
    
    for i in range(100):
        try:
            #Extract job title from the element
            job = driver.find_elements(By.CLASS_NAME, "base-search-card__title")[i].text
            job_title.append(job)    
            #Extract company name from the element
            company = driver.find_elements(By.CLASS_NAME, "base-search-card__subtitle")[i].text
            company_name.append(company)
            #Extract location from the element
            loc = driver.find_elements(By.CLASS_NAME, "job-search-card__location")[i].text
            location.append(loc)
            #Extract datetime from the element
            date = driver.find_elements(By.CLASS_NAME, "job-search-card__listdate")[i].get_attribute("datetime")
            posted_date.append(date)
            # id = driver.find_elements(By.PARTIAL_LINK_TEXT, "base-card")[i].get_attribute("data-id")
            # id = driver.find_elements(By.CLASS_NAME, "base-card relative")[i].get_attribute("data-entity-urn")
            # id = driver.find_elements(By.TAG_NAME, "a")[i].get_attribute("href")
            id = driver.find_elements(By.CLASS_NAME, "base-card__full-link")[i].get_attribute("href")
            jobpost_id.append(id)
        except IndexError:
            job_title.append(None)
            company_name.append(None)
            location.append(None)
            posted_date.append(None)
            print("DONE")
    return job_title, company_name, location, posted_date
    # return job_title, company_name, location, job_description

In [89]:
transform()

DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE

(['Data Analyst - Subscription',
  'Data Analyst - Transport (Jakarta)',
  'Data Analyst - Central Data Platform',
  'Data Analyst - Campaign Management',
  'Data Analyst - Rewards',
  'Data Analytics Associate',
  'Data Analyst',
  'Data Engineer',
  'Data Analyst',
  'Data Analyst',
  'BI Analyst (SQL)',
  'Junior Data Analyst',
  'Data Analyst',
  'Business MIS Analyst',
  'Data Analyst',
  'Data Analyst',
  'Data Analyst - Mobility',
  'Data Analyst',
  'Data Analyst',
  'Data Analyst (Python Sql & R)',
  'Data Analyst Lead',
  'Data Analyst - Insurance',
  'Consumer Business Marketing Data Analyst',
  'Data Analyst',
  'Flight Data Analyst',
  'Senior Data Analyst (Logistics Tech)',
  'Junior Business Intelligence Analyst',
  'Data Analytics - User Platform',
  'Data Analyst',
  'Principal Data Analyst',
  'Data Analyst, gt.school (Remote) - $30,000/year USD',
  'System Analyst',
  'Data Engineer',
  'Senior Data Analyst',
  'Business Intelligence Analyst Intern',
  'Data Analyst (Consumer Lending - Risk)',
  'Sales Data Analyst',
  'Data Analyst Senior Lead',
  'Senior Data Analyst - Fintech',
  'Business System Analyst',
  'Risk Data Analyst & Infrastructure, Risk Management, SeaBank',
  'Digital Analytics Consultant - Indonesia',
  'Senior Data Analyst',
  'Data Analyst - Data Management Function',
  'Data Engineer Associate',
  'Data Engineer Analyst',
  'Data Analyst / Data Science',
  None,
  'Data Analyst - Multinational Manufacturing Industry',
  None,
  'Data Engineer',
  None,
  'Data Engineer',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 ['Gojek',
  'Gojek',
  'Gojek',
  'Gojek',
  'Gojek',
  'Gravel',
  'Stockbit',
  'PT Lion Super Indo',
  'Traveloka',
  'Astra Financial Indonesia',
  'Atome',
  'JULO',
  'HTC Global Services',
  'PT. Mandala Multifinance Tbk',
  'FIT HUB',
  'Staffinc Group',
  'Gojek',
  'WireHire',
  'Cetta Online Class',
  'PT Shell Infotek Indonesia',
  'Gojek',
  'Traveloka',
  'PT Bank Jago Tbk',
  'PT Bank Mayapada Internasional Tbk',
  'Traveloka',
  'byOrange',
  'cermati.com',
  'Traveloka',
  'Nityo Infotech',
  'Gojek',
  'Crossover',
  'Bank Jasa Jakarta',
  'PT. Mitra Pinasthika Mustika Rent (MPM Rent)',
  'Amar Bank',
  'Flash Coffee',
  'Traveloka',
  'SKINTIFIC',
  'Gojek',
  'GoTo Financial',
  'Traveloka',
  'SeaBank Indonesia',
  'fifty-five',
  'JULO',
  'MUFG',
  'Gravel',
  'PT Bank Mayapada Internasional Tbk',
  'PT Elabram Systems',
  None,
  'Michael Page',
  None,
  'Indodana',
  None,
  'PT Bank KEB Hana Indonesia',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 ['Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Area DKI Jakarta',
  'Jakarta Raya, Indonesia',
  'Area DKI Jakarta',
  'Area DKI Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Jakarta Raya, Indonesia',
  'Jakarta Raya, Indonesia',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Jakarta Raya, Indonesia',
  'Tangerang Selatan',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Area DKI Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta Selatan',
  'Jakarta Raya, Indonesia',
  'Area DKI Jakarta',
  'Jakarta',
  'Jakarta',
  None,
  'Area DKI Jakarta',
  None,
  'Jakarta',
  None,
  'Jakarta',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 ['2023-09-19',
  '2023-09-13',
  '2023-09-12',
  '2023-09-26',
  '2023-09-22',
  '2023-09-18',
  '2023-09-05',
  '2023-09-21',
  '2023-08-11',
  '2023-08-16',
  '2023-09-05',
  '2023-09-26',
  '2023-09-14',
  '2023-09-06',
  '2023-06-08',
  '2023-09-15',
  '2023-09-19',
  '2023-08-30',
  '2023-09-06',
  '2023-04-09',
  '2023-08-18',
  '2023-08-18',
  '2023-04-14',
  '2023-06-22',
  '2023-09-25',
  '2023-07-11',
  '2023-08-17',
  '2023-09-19',
  '2023-09-25',
  '2023-09-26',
  '2023-09-06',
  '2023-03-29',
  '2023-08-24',
  '2023-09-25',
  '2023-09-23',
  '2023-09-06',
  '2023-09-12',
  '2023-09-22',
  '2023-09-07',
  '2023-09-21',
  '2023-09-25',
  '2023-08-14',
  '2023-09-18',
  '2023-08-18',
  '2023-07-31',
  '2023-03-29',
  '2023-09-08',
  None,
  '2023-08-16',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None])

In [91]:
#join job_title, company_name, location, posted_date into a dataframe
df = pd.DataFrame(list(zip(job_title, company_name, location, posted_date, jobpost_id)), 
               columns =['Job Title', 'Company Name', 'Location', 'Posted Date', 'Job Link'])

In [97]:
df

,Job Title,Company Name,Location,Posted Date,Job Link
0,Data Analyst - Subscription,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
1,Data Analyst - Transport (Jakarta),Gojek,Jakarta,2023-09-13,https://id.linkedin.com/jobs/view/data-analyst...
2,Data Analyst - Central Data Platform,Gojek,Jakarta,2023-09-12,https://id.linkedin.com/jobs/view/data-analyst...
3,Data Analyst - Campaign Management,Gojek,Jakarta,2023-09-26,https://id.linkedin.com/jobs/view/data-analyst...
4,Data Analyst - Rewards,Gojek,Jakarta,2023-09-22,https://id.linkedin.com/jobs/view/data-analyst...
5,Data Analytics Associate,Gravel,Area DKI Jakarta,2023-09-18,https://id.linkedin.com/jobs/view/data-analyti...
6,Data Analyst,Stockbit,Area DKI Jakarta,2023-09-05,https://id.linkedin.com/jobs/view/data-analyst...
7,Data Engineer,PT Lion Super Indo,"Jakarta Raya, Indonesia",2023-09-21,https://id.linkedin.com/jobs/view/data-enginee...
8,Data Analyst,Traveloka,Area DKI Jakarta,2023-08-11,https://id.linkedin.com/jobs/view/data-analyst...
9,Data Analyst,Astra Financial Indonesia,Area DKI Jakarta,2023-08-16,https://id.linkedin.com/jobs/view/data-analyst...
10,BI Analyst (SQL),Atome,Jakarta,2023-09-05,https://id.linkedin.com/jobs/view/bi-analyst-s...
11,Junior Data Analyst,JULO,Area DKI Jakarta,2023-09-26,https://id.linkedin.com/jobs/view/junior-data-...
12,Data Analyst,HTC Global Services,"Jakarta Raya, Indonesia",2023-09-14,https://id.linkedin.com/jobs/view/data-analyst...
13,Business MIS Analyst,PT. Mandala Multifinance Tbk,"Jakarta Raya, Indonesia",2023-09-06,https://id.linkedin.com/jobs/view/business-mis...
14,Data Analyst,FIT HUB,Jakarta,2023-06-08,https://id.linkedin.com/jobs/view/data-analyst...
15,Data Analyst,Staffinc Group,Jakarta,2023-09-15,https://id.linkedin.com/jobs/view/data-analyst...
16,Data Analyst - Mobility,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
17,Data Analyst,WireHire,Area DKI Jakarta,2023-08-30,https://id.linkedin.com/jobs/view/data-analyst...
18,Data Analyst,Cetta Online Class,Jakarta,2023-09-06,https://id.linkedin.com/jobs/view/data-analyst...
19,Data Analyst (Python Sql & R),PT Shell Infotek Indonesia,Jakarta,2023-04-09,https://id.linkedin.com/jobs/view/data-analyst...
20,Data Analyst Lead,Gojek,Jakarta,2023-08-18,https://id.linkedin.com/jobs/view/data-analyst...
21,Data Analyst - Insurance,Traveloka,Area DKI Jakarta,2023-08-18,https://id.linkedin.com/jobs/view/consumer-bus...
22,Consumer Business Marketing Data Analyst,PT Bank Jago Tbk,Jakarta,2023-04-14,https://id.linkedin.com/jobs/view/flight-data-...
23,Data Analyst,PT Bank Mayapada Internasional Tbk,Jakarta,2023-06-22,https://id.linkedin.com/jobs/view/senior-data-...
24,Flight Data Analyst,Traveloka,Area DKI Jakarta,2023-09-25,https://id.linkedin.com/jobs/view/junior-busin...
25,Senior Data Analyst (Logistics Tech),byOrange,Jakarta,2023-07-11,https://id.linkedin.com/jobs/view/data-analyti...
26,Junior Business Intelligence Analyst,cermati.com,Jakarta,2023-08-17,https://id.linkedin.com/jobs/view/data-analyst...
27,Data Analytics - User Platform,Traveloka,Area DKI Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/principal-da...
28,Data Analyst,Nityo Infotech,Jakarta,2023-09-25,https://id.linkedin.com/jobs/view/data-analyst...
29,Principal Data Analyst,Gojek,Jakarta,2023-09-26,https://id.linkedin.com/jobs/view/system-analy...
30,"Data Analyst, gt.school (Remote) - $30,000/yea...",Crossover,Area DKI Jakarta,2023-09-06,https://id.linkedin.com/jobs/view/data-enginee...
31,System Analyst,Bank Jasa Jakarta,"Jakarta Raya, Indonesia",2023-03-29,https://id.linkedin.com/jobs/view/senior-data-...
32,Data Engineer,PT. Mitra Pinasthika Mustika Rent (MPM Rent),Tangerang Selatan,2023-08-24,https://id.linkedin.com/jobs/view/business-int...
33,Senior Data Analyst,Amar Bank,Jakarta,2023-09-25,https://id.linkedin.com/jobs/view/data-analyst...
34,Business Intelligence Analyst Intern,Flash Coffee,Jakarta,2023-09-23,https://id.linkedin.com/jobs/view/sales-data-a...
35,Data Analyst (Consumer Lending - Risk),Traveloka,Area DKI Jakarta,2023-09-06,https://id.linkedin.com/jobs/view/data-analyst...
36,Sales Data Analyst,SKINTIFIC,Jakarta,2023-09-12,https://id.linkedin.com/jobs/view/senior-data-...
37,Data Analyst Senior Lead,Gojek,Jakarta,2023-09-22,https://id.linkedin.com/jobs/view/business-sys...
38,Senior Data Analyst - Fintech,GoTo Financial,Area DKI Jakarta,2023-09-07,https://id.linkedin.com/jobs/view/risk-data-an...
39,Business System Analyst,Traveloka,Area DKI Jakarta,2023-09-21,https://id.linkedin.com/jobs/view/digital-anal...
40,"Risk Data Analyst & Infrastructure, Risk Manag...",SeaBank Indonesia,Jakarta,2023-09-25,https://id.linkedin.com/jobs/view/senior-data-...
41,Digital Analytics Consultant - Indonesia,fifty-five,Jakarta,2023-08-14,https://id.linkedin.com/jobs/view/data-analyst...
42,Senior Data Analyst,JULO,Jakarta Selatan,2023-09-18,https://id.linkedin.com/jobs/view/data-enginee...
43,Data Analyst - Data Management Function,MUFG,"Jakarta Raya, Indonesia",2023-08-18,https://id.linkedin.com/jobs/view/data-analyst...
44,Data Engineer Associate,Gravel,Area DKI Jakarta,2023-07-31,https://id.linkedin.com/jobs/view/data-enginee...
45,Data Engineer Analyst,PT Bank Mayapada Internasional Tbk,Jakarta,2023-03-29,https://id.linkedin.com/jobs/view/data-enginee...

In [96]:
df.to_csv('linkedin_jobpost.csv', index=True)

In [95]:
df['Company Name'].value_counts().head(10)

Company Name
Gojek                                 9
Traveloka                             6
Gravel                                2
JULO                                  2
PT Bank Mayapada Internasional Tbk    2
GoTo Financial                        1
SKINTIFIC                             1
SeaBank Indonesia                     1
byOrange                              1
Amar Bank                             1
Name: count, dtype: int64